{% include 'auth.menu.login.callback.j2' %}

{% include 'auth.menu.login.html.j2' %}
{# {% include 'auth.menu.login.js.j2' %} #}

<div class="group">
    <div class="flex items-center gap-4">
        <div class="font-medium dark:text-white">
            <div class="text-sm text-gray-900 dark:text-gray-400">Hey Anonymous User !</div>
        </div>
    </div>
    <div class="absolute w-50 origin-top-left bg-white divide-y divide-gray-100 
        rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible 
        group-focus:opacity-0 transition duration-1000 ">
        <div class="py-1">
            <ul>
                <li>
                    <button hx-get="/htmx/spa.content" hx-trigger="click" hx-target="#content_section" hx-swap="outerHTML" 
                        class="block px-3 py-2 text-sm text-gray-800 hover:bg-gray-100">Return to Top</button>
                </li>
                <li>
                    <button hx-get="/htmx/secret1" hx-trigger="click" hx-target="#content_section" hx-swap="outerHTML" 
                        class="block px-3 py-2 text-sm text-gray-800 hover:bg-gray-100">Secret Page #1</button>
                </li>
                <li>
                    <button hx-get="/htmx/list.content" hx-trigger="click" hx-target="#content_section" hx-swap="outerHTML" 
                        class="block px-3 py-2 text-sm text-gray-800 hover:bg-gray-100">Incremental hx-get demo</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

{# <style>
.menu:before {
    content: "\2630 \a0 Menu"; 
}

.menu:focus .menu-dropdown { opacity:1;  }

.menu-dropdown {
    opacity: 0;
}

</style>

<div tabindex="0" class="menu">
    <div class="menu-dropdown">
        <a href="javascript:alert('Dropdown 1')">Dropdown 1</a>
        <a href="javascript:alert('Dropdown 2')">Dropdown 2</a>
        <a href="javascript:alert('Dropdown 3')">Dropdown 3</a>
        <a href="javascript:alert('No Javascript')">No Javascript</a>
    </div>
</div> #}