<script src="https://accounts.google.com/gsi/client" async></script>

<script>
    function onSignIn(response) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{{ login_url }}");
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function () {
            console.log(xhr.responseText);
            htmx.trigger("#auth_component", "showComponent");
        };
        xhr.send('credential=' + response.credential);
    }

    google.accounts.id.initialize({
        client_id: "{{ client_id }}",
        callback: onSignIn,
        ux_mode: "popup",
    });

    google.accounts.id.renderButton(document.getElementById("signInDiv"), {
        theme: "outline",
        size: "large",
        shape: "circle",
    });

    google.accounts.id.prompt();
</script>

<div id="signInDiv"></div>
