{% for cs in customers %}
<tr>
  <td>{{ cs.id }}</td>
  <td>{{ cs.name }}</td>
  <td>{{ cs.email }}</td>
</tr>
{% endfor %}

<span hx-swap-oob="innerHTML:#bluebutton">
  <button class="btn btn-light" hx-get="/htmx/content.list.tbody?skip={{ skip_next }}&limit={{ limit }}"
    hx-target="#table-body" hx-swap="beforeend" hx-trigger="click"> Load More
  </button>
</span>
