{# Table should be always returned first until this commit is taken into main branch.
https://github.com/bigskysoftware/htmx/pull/1794/commits #}

<tbody hx-swap-oob="innerHTML:#skip_table">
<tr>
  <td>{{ skip_next - limit }}</td>
  <td>{{ skip_next }}</td>
</tr>
</tbody>

<tbody hx-swap-oob="beforeend:#table-body">
{% for cs in customers %}
<tr>
  <td>{{ cs.id }}</td>
  <td>{{ cs.name }}</td>
  <td>{{ cs.email }}</td>
</tr>
{% endfor %}
</tbody>

<span hx-swap-oob="innerHTML:#bluebutton">
  <button class="btn btn-light" hx-get="/htmx/content.list.tbody?skip={{ skip_next }}&limit={{ limit }}"
    hx-swap="none" hx-trigger="click"> Load More
  </button>
</span>

