<p>
<h2>{{title}}</h2>
</p>

<div>
  <img src="{{img_url}}" alt="pet mischief">
</div>

{# The below is needed to prevent protected content in the cache from being revealed to unauthenticated users.  #}
<span hx-get="/auth/check" hx-swap="none" hx-trigger="load"></span>
<span hx-get="/auth/logout_content" hx-trigger="LogoutContent from:body" hx-target="#content_section" hx-swap="innerHTML"></span>

