<p>
<h2>{{title}}</h2>
</p>

<div>
  <img src="{{img_url}}" alt="pet mischief">
</div>

{# The below is needed to prevent protected content in the cache from being revealed to unauthenticated users.  #}
<div hx-get="/auth/check" hx-trigger="load, LoginStatusChange from:body" hx-target="#content_section" hx-swap="innerHTML"></div>
