<div class="container" id="secret_section" hx-get="/htmx/content.error" hx-target="#secret_section" hx-swap="outerHTML"
  hx-trigger="showComponent from:#auth_navbar">
  <p>
  <h2>{{title}}</h2>
  </p>

  <div>
    <img src="{{img_url}}" alt="pet mischief">
    {# <img class="rounded-circle" src="{{img_url}}" alt="pet mischief" name="pet mischief"
      style="width:10rem;height:10rem;border-radius:4rem"> #}
  </div>
</div>
