<head>
    <meta name="htmx-config" content='{"useTemplateFragments":"true"}'>
    <title>Customer List</title>

    <script src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="https://accounts.google.com/gsi/client" async></script>

  </head>