<head>
  <meta name="htmx-config" content='{"useTemplateFragments":"true"}'>

  {# For bootstrap #}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
 
  <title>{{title}}</title>

  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  {# The next line is needed for auth.login.google."js".html to work,
  i.e. for js api of Sign in with Google, script shoudl be loaded in the <header></header>.

  For Html api the next line is not needed, although dosen't harm anything.
  The script should be loaded in the auth.login.google."html".html,
  i.e. should be loaded every time the component file is loaded. #}
  <script src="https://accounts.google.com/gsi/client" async></script>

</head>
