<!DOCTYPE html>
<html lang="en">

{% include 'header.j2' %}

<body>

  {% include 'auth.j2' %}

  <div class="mx-4">
    <p class="text-2xl font-bold mb-4">{{title}}</p>

    <div class="mb-4">
      <button class="px-3 py-1 bg-red-600 text-white ml-4" hx-get="/htmx/hx_list?skip=0&limit={{ limit }}&reset=True"
        hx-target="#table-body" hx-swap="innerHTML" hx-trigger="click"> Reset
      </button>

      <span id="bluebutton">
        <button class="px-3 py-1 bg-blue-600 text-white ml-4" hx-get="/htmx/hx_list?skip={{ skip_next }}&limit={{ limit }}"
          hx-target="#table-body" hx-swap="beforeend" hx-trigger="click"> Load More
        </button>
      </span>

    </div>

    <table class="min-w-[50%] mb-4">
      <thead class="border-b text-lg">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody class="text-center text-sm" id="table-body">
        {% for cs in customers %}
        <tr>
          <td>{{ cs.id }}</td>
          <td>{{ cs.name }}</td>
          <td>{{ cs.email }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

</body>

</html>